
$colorbg: orange;
$txcolor: #ffff;
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #000000;
    padding: 6px 20px;
    box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 1.0); 
    margin: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}
#navbar li .nav-links{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: $txcolor;
}
#navbar li .btn-singin-singup{
    padding: 8px 12px;
    border-radius: 20px;
    background-color: $colorbg;
    color: black;
}
#navbar li .nav-links:hover{
    color: #cfcbf7;
}
#mobile{
    display: none;
   }

   .social-icons{
    display: flex;
    align-items: center;
    padding: 0 6px;  
    li{
        margin-left: 10px;
        list-style: none;
        .social-links{
            color: $colorbg;
            font-size: 20px;
            font-weight: 800;
        }
    }
   }
   .social-icons > span{
    color: $txcolor;
    font-weight: bold;
}
   .top-input{
    background-color: #150c38;
    align-items: center;
   
   }
   .top-form{
    padding: 10px;

    .select-style{
        margin: 0 4px 0 4px;
    }
    .search{
        background-color: $colorbg;
        color: black;
        border: none;
    }
   }
   .top-form > span{
    font-size: 15px;
    color: $colorbg;
    font-weight: bold;
} 

@media screen and (max-width: 1024px) {
    nav{
        display: flex;
        justify-content: space-around;       
    }
    #lg-screen{
        display: none;
    }
   #mobile{
    display: block;
   }
   #navbar{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#navbar li .nav-links{     
    color: rgb(71, 71, 71);
}

  }

  @media screen and (max-width: 580px){
    nav{
        display: flex;
        justify-content: space-between;       
    }
 
  }

